ErrorDocument 404 /err.php

RewriteEngine On
RewriteRule ^([a-z-_A-Z_0-9]+)/([ru||md]+)$ ?alias=$1&id=$2
RewriteRule ^([a-z-_A-Z_0-9]+)/([message]+)/([ru||md]+)$ ?alias=$1&id=$2&id2=$3
RedirectMatch ^/md$ /principal/md
